.wrapper{
    padding: 0 40px 0 40px;
}
.table_wrapper{
 //   border: 2px solid black;
    width: 100%;
}
.item_wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding-left: 50px;
    transition: 400ms ease-in-out;
    &:hover{
        transition: 400ms ease-in-out;
        background-color: #ec6c11;
        color:white
    }
}
.item_wrapper:not(:last-child){
    padding-bottom: 5px;
}
.item_wrapper:last-child{
    padding-bottom: 10px;
}
.name_service{
   
    padding-left: 30px;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
}
.wrapper_part{
    display: flex;
    background-color: rgb(192, 178, 178);
    .part_one{
        width: 80%;
    }
}
.picture_weapon{
    height: 120px;
}
.content_wrapper{
    display: flex;
    justify-content: space-around;
}
.picture{
    min-width: 538px;
}
.photos_wrapper{
    display: flex;
    justify-content: space-around;
    .item_photos{
        padding: 4px;
        height: 150px;
        img{
            height: inherit;
        }
    }
}
.header_picture{
    padding-top: 20px;
    height: 375px;
    img{
        height: inherit;
    }
}
@media (max-width: 375px){
    .table_wrapper{
        .header_wrapper{
            padding-right: 0;
            padding-bottom: 5px;
        }
    }
    .header_picture{
        padding-top: 10px;
        height: 134px;
        box-sizing: border-box;
    }
    .wrapper{
        padding: 0 7px 0 7px;
    }
    .content_wrapper{
        display:block;
        justify-content: flex-start;
        flex-direction: column;
        .picture{
            min-width: auto;
        }
       div{
        .name_service{
            padding-left: 2px;           
        }
        .item_wrapper{
            padding-left: 5px;
            min-width: auto;
        }
       }
    }
   
    .content_wrapper:nth-child(4){
       .picture{
        img{
            height: auto;
            width: 370px;
        }
       }
       }
       .content_wrapper:nth-child(5){
        .picture{
         img{
             height: auto;
             width: 370px;
         }
        }
        }  
        .content_wrapper:nth-child(7){
            .picture{
             img{
                 height: auto;
                 width: 370px;
             }
            }
            }  
      .photos_wrapper{
        flex-direction: column;
        align-items: center;
        a{
            .item_photos{
                height: 240px;
            }
        }
        a:nth-child(2){
            display: none;
        }
      }   

}