.item:first-child {
  width: 100%;
  height: 60px;
  border: none;
  margin-bottom: 15px;
}
.item {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: 400ms ease-in-out;
}
.item:hover:not(:first-child) {
  transition: 400ms ease-in-out;
  border: 2px solid #afafaf;
  border-radius: 2px;
}
.item .photoItem {
  width: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.item .photoItem img {
  width: inherit;
}
.item .nameItem {
  height: inherit;
  width: 550px;
  padding-left: 20px;
  line-height: 5;
  font-size: 20px;
  font-weight: 600;
}
.item .countItem {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: inherit;
  width: 170px;
  line-height: 5;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
.item .countItem .countBut {
  font-size: 18px;
  transition: 400ms ease-in-out;
  color: var(--color-grey);
}
.item .countItem .countBut:hover {
  transition: 400ms ease-in-out;
  color: var(--color-orange);
}
.item .priceItem {
  height: inherit;
  width: 150px;
  line-height: 5;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #f3e6d8;
}
.item .deleteItem {
  height: inherit;
  padding-right: 10px;
  line-height: 6.5;
  color: red;
}
.item .deleteItem:hover {
  color: var(--color-orange);
}
.wrapperOrderShopping {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.wrapperOrderShopping .go_shopping {
  display: block;
  height: 42px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  color: var(--color-grey);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  line-height: 2.5;
  transition: 400ms ease-in-out;
}
.wrapperOrderShopping .go_shopping:hover {
  transition: 400ms ease-in-out;
  border: 1px solid #bebdbd;
}
.wrapperOrderShopping .place_order {
  display: block;
  height: 42px;
  width: 140px;
  background-color: var(--color-orange);
  transition: 400ms ease-in-out;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  line-height: 2.3;
}
.wrapperOrderShopping .place_order:hover {
  transition: 400ms ease-in-out;
  background-color: var(--color-orange-white);
}
.wrapperOrderShopping .summa {
  font-size: 20px;
  font-weight: 600;
}
.wrapperOrderShopping .butClear {
  width: 120px;
  cursor: pointer;
}
.wrapperOrderShopping .butClear .iconTimes {
  padding-right: 5px;
}
.content {
  padding-top: 40px;
  text-align: center;
}
.content .cartIcon {
  font-size: 60px;
  color: var(--color-orange);
}
.content .butCat {
  width: 98px;
  height: 40px;
  background-color: var(--color-orange);
  border-radius: 3px;
  transition: 400ms ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  line-height: 2.5;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
}
.content .butCat:hover {
  transition: 400ms ease-in-out;
  background-color: var(--color-orange-white);
}
