:root {
  --color-orange: #f9870e;
  --color-orange-white: #f79e40;
  --color-white: white;
  --color-grey: #848484;
}
.wrapper {
  height: 130px;
  width: 100%;
}
.header {
  height: inherit;
  min-width: 1077px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemheader:nth-child(3) {
  height: inherit;
  width: 180px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.itemheader:nth-child(3) .search {
  color: var(--color-orange);
}
.itemheader:nth-child(3) .phone {
  margin-top: 30px;
}
.itemheader:nth-child(3) .phone span {
  font-size: 22px;
  font-weight: 600;
}
.itemheader:nth-child(4) {
  width: 230px;
  height: 100%;
  padding-top: 8px;
  padding-left: 13px;
}
.itemheader:nth-child(4) .social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.itemheader:nth-child(4) .social .itemsocial {
  height: 15px;
  width: 20px;
  cursor: pointer;
  color: var(--color-orange);
}
.itemheader:nth-child(4) .social .itemsocial:not(:last-child) {
  margin-right: 15px;
}
.itemheader:nth-child(5) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 7px;
}
.cart {
  position: relative;
  font-size: 25px;
}
.cart .cartcount {
  position: absolute;
  left: 15px;
  top: -7px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #462e22;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.cabinet,
.cart {
  color: var(--color-orange);
  cursor: pointer;
}
.cabinet span,
.cart span {
  color: black;
}
.cabinet a,
.cart a {
  text-decoration: none;
  color: #f9870e;
}
.cabinet {
  margin-bottom: 40px;
}
.data_user {
  height: 85%;
  display: flex;
  cursor: pointer;
}
.data_user .photo_user {
  height: 25px;
  padding-top: 3px;
  font-size: 22px;
  color: #f9870e;
  padding-left: 5px;
}
.data_user .photo_user a {
  display: flex;
  text-decoration: none;
  color: var(--color-orange);
}
.data_user .photo_user .icon_user {
  display: block;
}
.data_user .photo_user small {
  display: block;
  padding-left: 5px;
  padding-right: 7px;
}
.wrapper_data_user {
  height: 90%;
  display: flex;
}
.name_family {
  display: flex;
}
.name_family div:nth-child(1) {
  padding-left: 5px;
  color: var(--color-orange);
  font-size: 21px;
}
.name_family div:nth-child(1) span {
  color: var(--color-orange);
  display: inline-block;
}
.smallmenu {
  display: none;
  width: 30px;
  height: 30px;
  color: var(--color-orange);
}
@media (max-width: 375px) {
  .smallmenu {
    display: block;
  }
  .wrapper {
    height: 40px;
  }
  .header {
    min-width: 375px;
    justify-content: space-evenly;
  }
  .itemheader:nth-child(2) img {
    width: 120px;
  }
  .itemheader:nth-child(3) {
    width: 30px;
    padding: 5px 5px 0 5px;
  }
  .itemheader:nth-child(4) {
    width: auto;
  }
  .itemheader:nth-child(4) .social .itemsocial {
    display: none;
  }
  .itemheader:nth-child(4) .adress {
    display: none;
  }
  .phone {
    display: none;
  }
  .searchlabel {
    display: none;
  }
  .cabinet span {
    display: none;
  }
  .cart {
    font-size: 18px;
  }
}
