.wrapper {
  width: 1077px;
  margin: auto;
  min-height: 70vh;
  padding: 3px;
  box-sizing: border-box;
}
.content {
  width: 100%;
}
@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
}
